In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Leitura da base de dados
credit = pd.read_table("CreditScore_r.txt")
credit

,CLIENTE_NUMBER,FX_IDADE,CEP_GRUPO_RISCO,FX_RENDA,INDICADOR_RESTRITIVO,QTDE_CONSULTAS_CREDITO,RESPOSTA
0,1,(5) >=46,(5) altissimo,(3) De 1500 a 2500,0,3 ou mais,0
1,2,(5) >=46,(3) medio,(4) De 2501 a 5000,0,0,0
2,3,(5) >=46,(2) baixo,(6) >7000,0,0,0
3,4,(2) 25 a 34,(5) altissimo,(3) De 1500 a 2500,0,1,0
4,5,(2) 25 a 34,(4) alto,(2) <1500,0,0,0
...,...,...,...,...,...,...,...
49813,49814,(5) >=46,(3) medio,(5) 5001 a 7000,0,1,0
49814,49815,(4) 40 a 45,(5) altissimo,(3) De 1500 a 2500,0,2,0
49815,49816,(1) <=24,(4) alto,(4) De 2501 a 5000,0,1,0
49816,49817,sem informacao,(5) altissimo,(1) nao informado,0,0,0
49817,49818,(5) >=46,(2) baixo,(6) >7000,0,1,0

In [4]:
credit.shape

(49818, 7)

In [5]:
credit.dtypes

CLIENTE_NUMBER             int64
FX_IDADE                  object
CEP_GRUPO_RISCO           object
FX_RENDA                  object
INDICADOR_RESTRITIVO       int64
QTDE_CONSULTAS_CREDITO    object
RESPOSTA                   int64
dtype: object

In [6]:
credit.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CLIENTE_NUMBER,49818.0,24909.500000,14381.362192,1.0,12455.25,24909.5,37363.75,49818.0
INDICADOR_RESTRITIVO,49818.0,0.020816,0.142769,0.0,0.00,0.0,0.00,1.0
RESPOSTA,49818.0,0.120699,0.325781,0.0,0.00,0.0,0.00,1.0

In [7]:
# Verificando quantidade de missings
credit.isnull().sum()

CLIENTE_NUMBER            0
FX_IDADE                  0
CEP_GRUPO_RISCO           0
FX_RENDA                  0
INDICADOR_RESTRITIVO      0
QTDE_CONSULTAS_CREDITO    0
RESPOSTA                  0
dtype: int64

In [8]:
# Contagem das variáveis categóricas
credit.FX_IDADE.value_counts()

(5) >=46          16575
(2) 25 a 34       14279
sem informacao     5411
(1) <=24           4941
(3) 35 a 39        4450
(4) 40 a 45        4162
Name: FX_IDADE, dtype: int64

In [9]:
credit.CEP_GRUPO_RISCO.value_counts()

(3) medio         14330
(2) baixo         13387
(5) altissimo      9962
(4) alto           7544
(1) baissiximo     4595
Name: CEP_GRUPO_RISCO, dtype: int64

In [10]:
credit.FX_RENDA.value_counts()

(3) De 1500 a 2500    17359
(4) De 2501 a 5000    13913
(5) 5001 a 7000        8615
(1) nao informado      4401
(6) >7000              2924
(2) <1500              2606
Name: FX_RENDA, dtype: int64

In [11]:
credit.QTDE_CONSULTAS_CREDITO.value_counts()

0            28648
1            12991
2             4790
3 ou mais     3389
Name: QTDE_CONSULTAS_CREDITO, dtype: int64

## Tabelas cruzadas com a variável resposta

In [12]:
fx_idade_tab = pd.crosstab(credit["FX_IDADE"],credit["RESPOSTA"], normalize='index')
fx_idade_tab

RESPOSTA               0         1
FX_IDADE
(1) <=24        0.809148  0.190852
(2) 25 a 34     0.883185  0.116815
(3) 35 a 39     0.897528  0.102472
(4) 40 a 45     0.902931  0.097069
(5) >=46        0.922474  0.077526
sem informacao  0.767695  0.232305

In [13]:
cep_grupo_risco_tab = pd.crosstab(credit["CEP_GRUPO_RISCO"],credit["RESPOSTA"], normalize='index')
cep_grupo_risco_tab

RESPOSTA                0         1
CEP_GRUPO_RISCO
(1) baissiximo   0.952557  0.047443
(2) baixo        0.914320  0.085680
(3) medio        0.884438  0.115562
(4) alto         0.865589  0.134411
(5) altissimo    0.801445  0.198555

In [14]:
fx_renda_tab = pd.crosstab(credit["FX_RENDA"],credit["RESPOSTA"], normalize='index')
fx_renda_tab

RESPOSTA                   0         1
FX_RENDA
(1) nao informado   0.770507  0.229493
(2) <1500           0.854183  0.145817
(3) De 1500 a 2500  0.862146  0.137854
(4) De 2501 a 5000  0.891612  0.108388
(5) 5001 a 7000     0.932792  0.067208
(6) >7000           0.951094  0.048906

In [15]:
qtde_consultas_credito_tab = pd.crosstab(credit["QTDE_CONSULTAS_CREDITO"],credit["RESPOSTA"], normalize='index')
qtde_consultas_credito_tab

RESPOSTA                       0         1
QTDE_CONSULTAS_CREDITO
0                       0.892977  0.107023
1                       0.885228  0.114772
2                       0.853236  0.146764
3 ou mais               0.777811  0.222189

In [16]:
ind_restritivo_tab = pd.crosstab(credit["INDICADOR_RESTRITIVO"],credit["RESPOSTA"], normalize='index')
ind_restritivo_tab

RESPOSTA                     0         1
INDICADOR_RESTRITIVO
0                     0.879871  0.120129
1                     0.852459  0.147541

## Análise da relação entra as covariáveis - Estatística de Cramers'v

In [19]:
from scipy.stats import chi2_contingency
import numpy as np

In [18]:
crosstab = np.array(pd.crosstab(credit["FX_IDADE"],credit["FX_RENDA"])) # Construção da tabela cruzada
stat = chi2_contingency(crosstab)[0] # Valor da estatística Qui-quadrado
n = np.sum(crosstab) # Numero de observações da tabela cruzada
mini = min(crosstab.shape)-1 # Função "min" pega o valor mínimo entre linha e coluna da tabela cruzada
CramerV =  stat/(n*mini)
CramerV

0.13968945351637282

# Modelo de Regressão Logística

In [20]:
import statsmodels.api as sm

In [21]:
model = sm.GLM.from_formula("RESPOSTA ~ FX_IDADE + CEP_GRUPO_RISCO + INDICADOR_RESTRITIVO + QTDE_CONSULTAS_CREDITO", 
                            family = sm.families.Binomial(), data=credit)

In [22]:
result = model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               RESPOSTA   No. Observations:                49818
Model:                            GLM   Df Residuals:                    49804
Model Family:                Binomial   Df Model:                           13
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -17342.
Date:                Sun, 31 Jan 2021   Deviance:                       34684.
Time:                        20:20:32   Pearson chi2:                 4.96e+04
No. Iterations:                     6
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                              -2.5382      0.081    -31.529      0.000      -2.696      -2.380
FX_IDADE[T.(2) 25 a 34]                -0.5534      0.045    -12.235      0.000      -0.642      -0.465
FX_IDADE[T.(3) 35 a 39]                -0.7055      0.062    -11.369      0.000      -0.827      -0.584
FX_IDADE[T.(4) 40 a 45]                -0.7469      0.064    -11.589      0.000      -0.873      -0.621
FX_IDADE[T.(5) >=46]                   -0.9409      0.047    -19.929      0.000      -1.033      -0.848
FX_IDADE[T.sem informacao]              0.0507      0.054      0.935      0.350      -0.056       0.157
CEP_GRUPO_RISCO[T.(2) baixo]            0.5744      0.077      7.503      0.000       0.424       0.724
CEP_GRUPO_RISCO[T.(3) medio]            0.8871      0.075     11.855      0.000       0.740       1.034
CEP_GRUPO_RISCO[T.(4) alto]             1.0368      0.078     13.298      0.000       0.884       1.190
CEP_GRUPO_RISCO[T.(5) altissimo]        1.2757      0.077     16.468      0.000       1.124       1.427
QTDE_CONSULTAS_CREDITO[T.1]             0.2000      0.034      5.814      0.000       0.133       0.267
QTDE_CONSULTAS_CREDITO[T.2]             0.5030      0.046     10.861      0.000       0.412       0.594
QTDE_CONSULTAS_CREDITO[T.3 ou mais]     1.0065      0.047     21.395      0.000       0.914       1.099
INDICADOR_RESTRITIVO                    0.4647      0.091      5.105      0.000       0.286       0.643
=======================================================================================================
"""

In [23]:
# Salvando a probabilidade predita
credit['prob'] = result.fittedvalues

In [24]:
# Marcando os propensos
credit['propenso'] = np.where(credit['prob'] >= credit['RESPOSTA'].mean(), 1, 0)

In [25]:
tabela_desempenho = pd.crosstab(credit['RESPOSTA'], credit['propenso'])
tabela_desempenho

propenso      0      1
RESPOSTA
0         29570  14235
1          2556   3457

In [26]:
acuracia = (tabela_desempenho[0][0] + tabela_desempenho[1][1])/tabela_desempenho.sum().sum()
acuracia

0.6629531494640492

In [27]:
sensibilidade = (tabela_desempenho[1][1])/(tabela_desempenho[1][1] + tabela_desempenho[0][1])
sensibilidade

0.5749210044902711

In [28]:
especificidade = (tabela_desempenho[0][0])/(tabela_desempenho[0][0] + tabela_desempenho[1][0])
especificidade

0.6750370962218925

## Área abaixo da curva ROC

In [29]:
import numpy as np
from sklearn.metrics import roc_auc_score

In [30]:
roc_auc_score(credit['RESPOSTA'], credit['propenso'])

0.6249790503560817